body{
    font-family: Arial, Helvetica, sans-serif;
    /*
    Medidas Absolutas:
    cm, mm, in, px, pt, pc

    Medidas Relativas:
    em, ex, rem, vw, vh, %

    16px = 1em
    */
    font-size: 1em;
}

h1{
    font: italic normal 2em serif;
    /* 
    font-style: italic
    font-weight: normal
    font-size: 2em
    font-family: serif
    */
}