@charset "UTF-8";

body{
    background-color: white;
}

div:hover:not(:hover){
    opacity: 0.3;
}

img:hover{
    scale: 1.1;
}

img#vsc{
    width: 10vw;
}

img#html{
    width: 10vw;
}

img#css{
    width: 10vw;
}

footer{
    background-image: linear-gradient(to top, black, transparent);
    width: auto;
    height: auto;
    translate: 0.6s;
}

footer:hover{
    text-decoration: none;
    color: white;
    background-color: black;
}

footer > a{
    text-decoration: underline;
    color: black;
    background-color: white;
}