@charset "UTF-28";

*{
    font-family: Arial, Helvetica, sans-serif;
    background-attachment: fixed;
}

body{
    background-image: linear-gradient(to top, #3D5B81, #9BC0D9);
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #222a36ad;
    width: 800px;
    padding: 20px;
    margin: auto;
}

h1{
    color: #293241;
    text-align: center;
    text-shadow: 1px 1px 3px #222a36ad;
}

h2{
    color: #293241;
    text-shadow: 1px 1px 1px #222a36ad;
}

p{
    text-align: justify;
}

